/*-------- GLOBAL STYLES --------*/
html {
  scroll-behavior: smooth;
}

.container {
  padding-top: 20px;
  padding-bottom: -20px;
}

.padding {
  padding-top: 200px;
}

.padding-sm {
  padding-top: 100px;
}

.padding-bottom {
  padding-bottom: 200px;
}

/* TEXT */
a {
  color: inherit;
  text-decoration: none;
  color: #FFFFB6
}

a:hover {
  text-decoration: none;
  color: #FFFFB6
}

p {
  font-size: 18px;
  color: #ffffff;
}

.text {
  text-align: left;
  font-family: 'Lora';
  font-size: 18px;
  margin: auto 0;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 56px;
  color: #FFFFB6;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.dropcap {
  color: #ffffff;
  float: left;
  font-family: 'Lora';
  font-weight: 700;
  float: left;
  font-size: 5em;
  line-height: .9em;
  padding-right: 5px;
}

/* BACK TO TOP */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Source Sans Pro';
}

#myBtn:hover {
  background-color: #fff;
}

/* IMAGES */
.items {
  text-align: center;
  margin: 50px auto;
}

.items figure {
  margin: 0px 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

figcaption {
  opacity: 0.7;
  font-family: 'Source Sans Pro';
  text-align: left;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
}

.images {
  height: auto;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.hidden {
  opacity: 0;
}

.fade-in {
  -webkit-animation: fade-in 1.4s;
  animation: fade-in 1.4s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bounce {
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
  position: relative;
}

@-webkit-keyframes bounce {
  0% {
    top: -2px;
  }

  50% {
    top: 2px;
  }

  100% {
    top: -2px;
  }
}

@keyframes bounce {
  0% {
    top: -2px;
  }

  50% {
    top: 2px;
  }

  100% {
    top: -2px;
  }
}

.carousel-caption {
  font-family: 'Source Sans Pro';
  font-style: italic;
}

.photo-carousel {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* VIDEO EMBED */
video {
  width: 100%;
  height: auto;
}

.video-player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* SCROLL INDICATOR */
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4882A3;
  width: 0%;
}

/* PULL QUOTE */
blockquote {
  padding: 0;
}

.pullquote {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: auto 0;
  font-size: 32px;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.pullquote:before {
  content: '\201C';
  position: relative;
  top: 0.25em;
  left: -0.15em;
  color: #4882A3;
  font-size: 6em;
  z-index: 1;
}

.pullquote footer {
  font-family: 'Lora';
  font-size: 0.5em;
  font-weight: normal;
  color: #ffffff;
  float: right;
  margin-bottom: 50px;
}

.pullquote footer:before {
  content: '\2015';
}

.invert-pq {
  background-color: #dedede;
  z-index: -1;
  margin-bottom: 50px;
}

/* MAP */
.map {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 75vh;
}

/* -------- MEDIA QUERIES -------- */
/* TABLET */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  p {
    padding: 5px;
  }

  .text {
    padding: 5px;
  }

  .images {
    width: 80%;
  }

  .center {
    width: 100%;
  }

  #embed {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .vimeo {
    width: 900px;
  }

  .images {
    width: 80%;
  }

  .center {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .vimeo {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .vimeo {
    width: 500px;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-content h1 {
    font-size: 100px;
  }

  .text {
    padding: 50px;
  }

  figure {
    padding-bottom: 0px;
  }

  .images {
    width: 80%;
  }

  .center {
    width: 80%;
  }

  .vimeo {
    width: 400px;
  }

  .padding-bottom {
    padding-bottom: 100px;
  }

}

  @media screen and (max-width: 500px) {
    .vimeo {
      width: 400px;
      height: 200px;
      text-align: center;
    }
  }
