/*-------- GLOBAL STYLES --------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #213140;
}

.container {
  padding-top: 20px;
  padding-bottom: -20px;
}

.padding {
  padding-top: 200px;
}

/* TEXT */
a {
  color: inherit;
}

p {
  font-size: 16px;
  color: #ffffff;
}

.text {
  text-align: left;
  font-family: 'Lora';
  font-size: 16px;
  margin: auto 0;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 72px;
  color: #FFFFB6;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.dropcap {
  color: #ffffff;
  float: left;
  font-family: 'Lora';
  font-weight: 700;
  float: left;
  font-size: 5em;
  line-height: .9em;
  padding-right: 5px;
}

hr {
  border: 1px solid #ffffff;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* BACK TO TOP */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Source Sans Pro';
}

#myBtn:hover {
  background-color: #fff;
}

/* IMAGES */
.items {
  text-align: center;
  margin: 50px auto;
}

.items figure {
  margin: 0px 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

figcaption {
  opacity: 0.7;
  font-family: 'Source Sans Pro';
  text-align: left;
  font-size: 12px;
  font-style: italic;

}

.images {
  height: auto;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.carousel-caption {
  font-family: 'Source Sans Pro';
  font-style: italic;
}

.photo-carousel {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* VIDEO EMBED */
video {
  width: 100%;
  height: auto;
}

.video-player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* SCROLL INDICATOR */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.scroll-indicator {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-bar {
  height: 8px;
  background: #4882A3;
  width: 0%;
}

/* PULL QUOTE */
blockquote {
  padding: 0;
}

.pullquote {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: auto 0;
  font-size: 32px;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.pullquote:before {
  content: '\201C';
  position: relative;
  top: 0.25em;
  left: -0.15em;
  color: #4882A3;
  font-size: 6em;
  z-index: 1;
}

.pullquote footer {
  font-family: 'Lora';
  font-size: 0.5em;
  font-weight: normal;
  color: #ffffff;
  float: right;
}

.pullquote footer:before {
  content: '\2015';
}

.invert-pq {
  background-color: #ffffff;
  z-index: -1;
  margin-bottom: 50px;
}

/* AUDIO PLAYER */
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* MAP */
.map {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 75vh;
}

/* -------- MEDIA QUERIES -------- */
/* TABLET */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }

  p {
    padding: 5px;
  }

  .images {
    width: 100%;
  }

  .center {
    width: 100%;
  }

  #embed {
    width: 700px;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .text {
    padding: 30px;
  }

  figure {
    padding-bottom: 0px;
  }

  .images {
    width: 100%;
  }

  .center {
    width: 100%;
  }
}
