/*-------- GLOBAL STYLES --------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #213140;
}

/* TEXT */
a {
  color: inherit;
}

p {
  font-size: 18px;
  color: #ffffff;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 72px;
  color: #FFFFB6;
  font-weight: bold;
  text-align: center;
}

.dropcap {
  color: #ffffff;
  float: left;
  font-family: 'Lora';
  font-weight: 700;
  float: left;
  font-size: 5em;
  line-height: .9em;
  padding-right: 5px;
}

/* OTHER */
hr {
  border: 1px solid #ffffff;
  width: 50%;
  margin: 0 auto;
}

.container {
  padding-top: 20px;
  padding-bottom: -20px;
}

.img-fluid {
  padding-top: 100px;
}

.scroll-indicator {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* PULL QUOTE */
blockquote {
  padding: 0;
  margin-top: 100px;
  margin-bottom: 10px;
}

.pullquote {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: auto 0;
  font-size: 32px;
  line-height: 1.5em;
}

.pullquote:before {
  content: '\201C';
  position: relative;
  top: 0.25em;
  left: -0.15em;
  color: #4882A3;
  font-size: 6em;
  z-index: 1;
}

.pullquote footer {
  font-family: 'Lora';
  font-size: 0.6em;
  font-weight: normal;
  color: #ffffff;
  float: right;
}

.pullquote footer:before {
  content: '\2015';
}
