/* GLOBAL STYLES */
.body {

}

.dark-footer{
  background-color: #a2a2a2;
  font-family: 'Muli', sans-serif;
  padding-top: 15px;
}

.reveal {
  font-size: 100px;
  background-color: teal;
  width: 100%;
  color: white;
}
