/*-------- CONTENT --------*/
/* SCROLL INDICATOR */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #FFFFB6;
  width: 0%;
}

/* HEADER */
header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
  background: rgba(33, 49, 64, 0.7);
}

.header-content h1 {
  font-size: 120px;
  color: #fff;
}

.header-content hr {
  border: 1px solid #FFFFB6;
  width: 50%;
  margin: 0 auto;
}

/* EMERGENCY MEDICAL SERVICES */
.emergency-services-content {
  margin-bottom: -300px;
}

.emergency-services-text {
  text-align: left;
  font-family: 'Lora';
  padding-bottom: 160px;
  padding-top: 60px;
  font-size: 22px;
  margin: auto 0;
}

#question-mark {
  float: right;
  margin-right: 20px;
  top: -400px;
  z-index: -1;
  position: relative;
  display: inline-block;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 56px);
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  border-radius: 0rem;
}

/* RICK CALEBS INTERVIEW */
.calebs-interview {
  background-color: #ffffff;
  z-index: -1;
}

.calebs-pq {
  padding-bottom: 100px;
}

/* MOBILE HEALTH CLINIC */
.mobile-clinic-text {
  text-align: center;
  font-family: 'Lora';
  padding-bottom: 160px;
  padding-top: 60px;
  font-size: 22px;
  margin: auto 0;
  position: relative;
}

.photo360 {
  margin: auto;
  width: 70%;
  padding: 10px;
}

/* DAVE INTERVIEW */
.dave-interview {
  background-color: #ffffff;
  overflow: hidden;
}

.dave-pq {
  padding-bottom: 100px;
}

/* 360 PHOTO */
/* ECONOMIC ACCESS */
.economic-access-text {
  text-align: center;
  font-family: 'Lora';
  padding-bottom: 160px;
  padding-top: 60px;
  font-size: 22px;
  margin: auto 0;
  position: relative;
}

/* HAPCAP */
.hapcap-text {
  text-align: center;
  font-family: 'Lora';
  padding-bottom: 160px;
  padding-top: 60px;
  font-size: 22px;
  margin: auto 0;
  position: relative;
}

.jessie-pq {
  background-color: #ffffff;
  overflow: hidden;
}

/* COVID-19 */
.covid-19-text {
  text-align: center;
  font-family: 'Lora';
  padding-bottom: 160px;
  padding-top: 60px;
  font-size: 22px;
  margin: auto 0;
  position: relative;
}


/*-------- MEDIA QUERIES --------*/
@media (max-width:767px) {
  .web-hed {
    font-size: 70px;
    line-height: 60px;
  }

  .intro-content {
    font-size: 20px;
    margin: 50px;
  }

  .call-video {
    height: 500px;
  }
}
