/*-------- CONTENT --------*/
/* HEADER */
header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
  background: rgba(33, 49, 64, 0.7);
}

.header-content h1 {
  font-size: 120px;
  color: #fff;
}

.header-content hr {
  border: 1px solid #FFFFB6;
  width: 50%;
  margin: 0 auto;
}

.subhed {
  font-family: 'Lora';
  color: #fff;
  font-size: 16px;
  padding-top: 25px;
}

/* EMERGENCY MEDICAL SERVICES */
.emergency-services-content {
  margin-bottom: -400px;
}

#question-mark {
  float: right;
  margin-right: 20px;
  top: -400px;
  z-index: -1;
  position: relative;
  display: inline-block;
}

.aligned-img {
  float: right;
  margin: 0px 0px 15px 15px;
}

#damaged-sign {
  float: right;
  margin-right: 80px;
  left: 200px;
  top: 0px;
  z-index: -1;
  position: relative;
  display: inline-block;
}

video {
  width: 100%;
  height: auto;
}

.video-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.looped {
  margin-top: 50px;
}

/* PROVIDING HEALTH CARE */
.photo360 {
  margin: auto;
  width: 70%;
  padding: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* FOOTER */
.footer {
  background: #4882A3;
  color: white;
  font-family: 'Source Sans Pro'
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #FFFFB6;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Source Sans Pro'
}

/* -------- MEDIA QUERIES -------- */
/* OTHER */
@media screen and (max-width: 1200px) {
  .aligned-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 60%;
  }

  /* TABLET */
  @media screen and (max-width: 1000px) {

    .photo360 {
      width: 100%;
    }

    .spaced-content {
      padding: 5px;
    }

    .aligned-img {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      width: 60%;
    }

footer {
      padding: 10px;
      margin-bottom: 150px;
    line-height: 2.5vh;
    }
  }

  /* MOBILE */
  @media screen and (max-width: 600px) {
    .spaced-content {
      padding: 30px;
    }

    .aligned-img {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .pullquote {
      padding: 50px;
    }

    #question-mark {
      float: none;
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      padding-bottom: 100px;
      line-height: 1.5em;
    }
  }
